*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.header-text{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 12px;
    line-height: 15px;
    padding: 7px 0;
}
.header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-link{
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding-right: 22px;
}
.header-link:hover{
    color: gray;
    transition: .6s;
    font-size: 17px;
    cursor: pointer;
}
.header-icons{
    list-style: none;
    color: black;
    display: flex;
}
.header-icon{
    padding: 0 7px;
}

/* header */

.boost{
    background: url(../images/boost/zadni-fon.png) top left/100% 100% no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 810px;
}
.boost-btn{
    background-color: #FF4A32;
    color: white;
    width: 200px;
    height: 33px;
    border-radius: 35px;
    outline: none;
    border: none;
    font-size: 15px;
    line-height: 22px;
}
.boost-btn:hover{
    background-color: crimson;
    transition: .6s;
    color: black;
    cursor: pointer;
}
.boost-block{
    margin-top: 53px;
}
.boost-p{
    margin: 14px 0;
    font-size: 15px;
    line-height: 19px;
}
.boost-h2{
    font-size: 44px;
    line-height: 51px;
}
.row{
    flex-wrap: wrap;
    display: flex;
}
.col-3{
    width: 25%;
    padding: 0 15px;
}
/* boost */
.brands{
    background-color: black;
}

.item{
    margin-top: 18px;
    text-align: center;
}
/* shop */
.shop-title{
    font-size: 25px;
    line-height: 30px;
}
.shop-text{
    font-size: 18px;
    line-height: 23px;
    padding: 20px 0;
}
.shop-block{
    text-align: center;
    padding: 52px 0;
    margin-bottom: 20px;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.shop-item{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.shop-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* shop */



/* electric */
.electric-block{
    background: url(/src/images/electric/squad.png) top left/100% 100% no-repeat;
    height: 736px;
    text-align: center;
    background-size: 100%;
    padding-top: 44px;
}
.electric-text{
    font-size: 15px;
    line-height: 19px;
}

.electric-title{
    font-size: 45px;
    line-height: 51px;
    margin: 11px 0;
}
.electric-btn{
    font-size: 15px;
    line-height: 22px;
    color: white;
    background-color: #FF4A32;
    border-radius: 35px;
    width: 201px;
    height: 33px;
    outline: none;
    border: none;
    margin: 11px 0;
}
.electric-btn:hover{
    background-color: crimson;
    transition: .6s;
    color: black;
    cursor: pointer;
}
/* electric */




/* samokat */
.samokat{
    padding: 44px 0;
}
.samokat-item img{
    width: 100%;
}
.col-4{
    width: 33.3%;
    padding: 0px 15px;
}
.samokat-title{
    font-size: 32px;
    line-height: 38px;
    padding-top: 77px;
}
.samokat-block{
    padding-top: 77px;

}
.samokat-btn{
    font-size: 15px;
    line-height: 22px;
    border-radius: 35px;
    background-color: #FF4A32;
    width: 101px;
    height: 33px;
    outline: none;
    border: none;
    color: white;
}
.samokat-btn:hover{
    background-color: crimson;
    transition: .6s;
    color: black;
    cursor: pointer;
}
.samokat-text{
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 17px;
}
/* samokat */
.plus{
    display: flex;
    justify-content: space-around;
}
.plus-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 480px;
}
.plus-item-1{
    background: url(/src/images/plus/convers.png) top left/100% 100% no-repeat;
}
.plus-item-2{
    background:url(/src/images/plus/shlem.png) top left/100% 100% no-repeat;
}
.plus-item-3{
    background: url(/src/images/plus/kare.png) top left/100% 100% no-repeat;
}
.plus-title{
    font-size: 25px;
    line-height: 30px;
    padding: 15px 0;
    color: white;
}
.plus-text{
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}


.video-item{
    margin: 55px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.col-2{
    width: 15%;
    padding: 0 15px;
}
.slider-title{
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 66px;
    position: relative;
}
.slider-title::after{
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 70px;
    height: 2px;
    background-color:#CFCFCF;
    right: 0;
    margin: 0 auto;
    display:block;
}
.slider-text{
    color: #FF4A32;
}
.slider-price{
    color: black;
    padding-left: 35px;
}
.slider-link{
    color: #FF4A32;
}
a{
    text-decoration: none;
}
.white-box{
    width: 100%;
    height: 66px;
    background-color: white;
    box-shadow: 2px 0 10px rgba(41, 44, 61, 0.34);
    margin-bottom: 50px;
}
.go{
    width: 100%;
    height: 340px;
    padding: 28px 0;
    background-color: black;
    color: white;
}
.go-content{
    text-align: center;
}
.go-block{
    display: flex;
    justify-content: space-around;
}
.go-item{
    text-align: center;
}
.go-text{
    padding: 20px 0;
}

/*go*/


/*footer*/
.footer{
    background-color: #F7F7F7;
}
.footer-link{
    font-size: 13px;
    line-height: 21px;
    color: black;

}
.footer-title{
    font-size: 20px;
    line-height: 30px;
}
.footer-block{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    height: 329px;
}
.footer-menu{
    display: flex;
    flex-direction:column;
}
.footer-title{
    padding-bottom: 10px;
}
.footer-text{
    padding-top: 10px;
}
.footer-menu-2{
    padding-top: 19px;
}

span{
    color:#FF4A32 ;
}
.footer-block-2{
    padding-top: 19px;
}
.norm{
    font-size: 13px;
    line-height: 19px;
}
.footer-icons{
    list-style: none;
    display: flex ;
    justify-content: space-evenly;
    padding: 0 140px;
    margin-bottom: 27px;
}
.footer-icon:hover{
    font-size: 17px;
    transition: .6s;
}
a{
    color:#FF4A32;
}
